html { 
    background: url(./images/backgraund.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    /* background-color: rgba(157, 94, 177, 0.75); */
}
h1{
    text-align: center;
    margin-top: 5vh;
    
}

#MainStage{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#first{
    float: left;
    width: 25%;
    height: 600px;
    border: solid 5px;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgba(139, 69, 19,0.90);
}

#sec{
    float: right;
    width: 600px;
    height: 600px;
    border: solid 5px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color:rgb(250, 128, 114,0.90);
}

img {
    height: 155px;
    width: 155px;
    grid-area: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}