*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

html { 
    background: url(./images/sanddune.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title{
    color: khaki;
    text-align: center;
    font-size: 2em;
}

.game-container{
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 4em;
}

.game-info{
    grid-row: 2fr;
    display: flex;
    justify-content: space-between; 
    padding-right: 10%;
}

.info{
    color: khaki;
    font-size: 2em;
}


#game{ 
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.4em;
    /* display: flex;
    flex-wrap: wrap;
    margin: 120px auto; */
}


img {
    height: 150px;
    width: 150px;
    border-radius: 20px ;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(88, 11, 11,0.25);
    color: khaki;
    text-align: center;
}


@media (max-width: 600px){
    #game {
        grid-template-columns: repeat(2, auto);
    }
    #title {
        flex-direction: column;
        align-items: center;
    }
}